USE [master]
GO
/****** Object:  Database [FamilyBudzhet]    Script Date: 21.05.2019 10:32:09 ******/
CREATE DATABASE [FamilyBudzhet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FamilyBudzhet', FILENAME = N'D:\SQL\MSSQL12.MSSQLSERVER\MSSQL\DATA\FamilyBudzhet.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FamilyBudzhet_log', FILENAME = N'D:\SQL\MSSQL12.MSSQLSERVER\MSSQL\DATA\FamilyBudzhet_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FamilyBudzhet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FamilyBudzhet]
GO
/****** Object:  Table [dbo].[CompositionFamily]    Script Date: 21.05.2019 10:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompositionFamily](
	[CompositionID] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Surname] [varchar](255) NOT NULL,
	[Lastname] [varchar](255) NOT NULL,
	[Role] [varchar](255) NOT NULL,
	[Login] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Costs]    Script Date: 21.05.2019 10:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Costs](
	[CostsID] [int] NOT NULL,
	[Description] [varchar](255) NOT NULL,
	[DateOperation] [date] NOT NULL,
	[AmountMoneyOperation] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CostsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Income]    Script Date: 21.05.2019 10:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Income](
	[IncomeID] [int] NOT NULL,
	[Description] [varchar](255) NOT NULL,
	[DateOperation] [date] NOT NULL,
	[AmountMoneyOperation] [float] NOT NULL,
	[CompositionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IncomeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StorageBudzhet]    Script Date: 21.05.2019 10:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageBudzhet](
	[StorageBudzhet] [int] NOT NULL,
	[AmountBudzhet] [float] NOT NULL,
	[IncomeID] [int] NULL,
	[CostsID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StorageBudzhet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Income]  WITH CHECK ADD FOREIGN KEY([CompositionID])
REFERENCES [dbo].[CompositionFamily] ([CompositionID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StorageBudzhet]  WITH CHECK ADD FOREIGN KEY([CostsID])
REFERENCES [dbo].[Costs] ([CostsID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StorageBudzhet]  WITH CHECK ADD FOREIGN KEY([IncomeID])
REFERENCES [dbo].[Income] ([IncomeID])
GO
USE [master]
GO
